<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <header th:insert="partials/header :: head"></header>
    <title>Create List V2</title>
</head>

<body>
<nav th:replace="partials/navbar :: navbar">
</nav>

<div class="container-fluid">
    <h1>Create a List V2</h1>

    <form class="mb-3" th:action="@{/lists/create}" th:method="post" th:object="${list}" >
        <input type="hidden" th:field="*{id}" />

        <div class="mb-3">
            <label for="name" class="form-label">Name</label>
            <input type="text" id="name" th:field="*{name}" class="form-control" placeholder="List name goes here">
        </div>

        <h5>Todos</h5>
        <button type="button" class="btn btn-secondary" id="add-todo">Add Todo</button>

        <ul id="my-todos">
            <li th:each="todo, itemStat : *{todos}">
                <div>
                    <input type="hidden" class="todo-id" th:field="*{todos[__${itemStat.index}__].id}" />
                    <input type="text" class="todo-description" th:field="*{todos[__${itemStat.index}__].description}" />
                    <button type="button" class="btn btn-warning delete-todo">Delete</button>
                </div>
            </li>
        </ul>
        <button id="save-btn" type="button" class="btn btn-primary">Save List</button>

    </form>

    <footer th:replace="partials/footer :: footer">
    </footer>

</div>

<script>
    document.addEventListener("DOMContentLoaded", function() {
        document.querySelector("#save-btn").addEventListener("click", function(event) {
            console.log("save clicked");
        });


    });
</script>
</body>
</html>
