<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Log In</title>
</head>
<body>
<h1>Log In</h1>
<div th:if="${param.logout}">
    <p>You have been logged out.</p>
</div>
<div th:if="${param.error}">
    <p>Invalid Username and Password.</p>
</div>
<form th:action="@{/login}" th:method="post">
    <label for="username">Username</label>
    <input id="username" name="username" type="text" value="bob">
    <label for="password">Password</label>
    <input id="password" name="password" type="password" value="bigbobby">
    <input type="submit" value="Log In">
</form>
</body>
</html>